<div class="row">
    <div id="column1" class="column">
        <app-sidebar></app-sidebar>
    </div>
    <div id="column2" class="column">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">BRANCHES</a>
        </nav>
        <div class="row">
            <div class="col-md-8">
                <div class="card" id="leftcard">
                    <div class="card-body">
                        <h5 class="card-title">New Branch</h5>
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control" id="branchname" placeholder="Branch Name">
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control" id="username" placeholder="Username">
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="email" class="form-control" id="email" placeholder="Email Address">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="managerfirstname" placeholder="Manager First Name">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="managerlastname" placeholder="Manager Last Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="address" placeholder="Address">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control" id="town" placeholder="Town">
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control" id="county" placeholder="County">
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control" id="phone" placeholder="Phone Number">
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="description">Description</label>
                                <div class="form-group col-md-12">
                                    <textarea class="form-control" id="description" placeholder="Include a small description about this branch" rows="3"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn text-white" id="btn1">SAVE</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" id="right-card">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">LOGGED IN AS</h6>
                        <h5 class="card-title">Robert Kanyoro</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <button type="submit" class="btn text-white" id="btn2">EDIT PROFILE</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>