<div class="sidebar">
    <p class="admin">AC KRYPTO ADMIN</p>
    <hr>
    <P class="name"><img src="../src/assets/image/interior2.jpg">Robert Kanyoro</P>
    <hr>
    <p class="dashboard">
        <a href="#"><span><i class="fas fa-tachometer-alt"></i></span>DASHBOARD</a>
    </p>
    <p class="branches">
        <a href="#"><span><i class="fas fa-building"></i></span>BRANCHES</a>
    </p>
    <P class="banks">
        <a href="#"><span><i class="fas fa-home"></i></span>OUR BANK</a>
    </P>
    <P class="invoices">
        <a href="#"><span><i class="fas fa-file-invoice-dollar"></i></span>PENDING INVOICES</a>
    </P>
    <p class="events">
        <a href="#"><span><i class="far fa-calendar-alt"></i></span>OUR EVENTS</a>
    </p>
</div>